<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defautHref="/calendario"></ion-back-button>
    </ion-buttons>
    <ion-title>Voltar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div  class="aviso">
    <div class="title">
      <p style="color: #ff0000">AVISO IMPORTANTE!</p>
    </div>

    <p>A IA(Inteligencia Artificial) não dispensa a consulta com um profissinal, e deve ser usada em conjunto com o cuidado médico e terapêutico personalizado.</p>
  </div>



  
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/imgia.jpg" />
    <ion-card-header>
      <ion-card-title>Character.ai </ion-card-title>
      <ion-card-subtitle>Este site oferecerá a oportunidade de se envolver em diálogos com um psicólogo virtual baseado em inteligência artificial. Nele, você pode solicitar orientações, assistência e manter conversas sempre que necessitar.</ion-card-subtitle>
      <P>⠀</P>
      <a href="https://beta.character.ai/chat?char=7y5hAPyD32dN-n921fLHH8fMVWxg5EIujMANeJdEbnA" target="_blank">
        <button>Conversar com IA</button>
      </a>
    </ion-card-header>
  </ion-card>




  
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/cvv.jpg" />
    <ion-card-header>
      <ion-card-title>CVV (Centro de Valorização da Vida) </ion-card-title>
      <ion-card-subtitle>O CVV oferece apoio emocional gratuito por telefone, chat e e-mail. É uma ótima opção para quem precisa conversar com alguém sobre seus sentimentos e preocupações.</ion-card-subtitle>
      <P>⠀</P>
      <a href="https://www.cvv.org.br/chat/" target="_blank">
        <button>Ligar ou Conversar</button>
      </a>
    </ion-card-header>
  </ion-card>

</ion-content>
