
.texto{
    text-align: center;
}


.mindfullness{
    float: center;
 align-items: baseline;
}

.head{
    background-color: rgb(207, 242, 243);
}

.box{
    height: 10%;
    background-color: rgb(207, 242, 243);
}

