
.banner{
  width: 100%;
  height: 20%;
background-color: #5782e0;
}

.imgPessoa{
  align-self: center;
  text-align: center;
  align-items: center;
  width: 100%;
}

.logo{
  width: 60%;
  margin: auto;
}

.container{
  background: linear-gradient(to bottom, #5782e0, #696aa7); /* Substitua as cores desejadas */

}


.cardAlinhamento{
  text-align: center;
}
.titulo{
  width: 100%;
}
h1{
  text-align: center;
}


#container a{
  text-decoration: none;
}

.button{
  margin: 0 15px;
}
